#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  padding: 20px;
}

.background {
  position: fixed;
  inset: 0;
  background-size: cover; /* ensures width OR height is 100% */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
}

.verseContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  // justify-content: center;
  align-items: center;

  .word {
    padding: 8px 16px;
    border: 1px solid #999;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    user-select: none;
    background-image: url('/bible-sorter/bgs/paper.png');
    inset: 0;
    background-position: center; /* centers the image */

    &.error {
      background-color: #fad8d8;
      background-blend-mode: multiply;
    }

    &.selected {
      // background-color: yellow;
      background-color: rgba(255, 255, 0, 0.4);
      background-blend-mode: multiply;
    }

    &:hover:not(.selected) {
      background-color: #eee;
      cursor: pointer;
    }
  }

  .dropZone {
    width: 30px;
    height: 30px;
    border: 1px solid #aaa;
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  .wdz {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: relative;

    //
    .hit {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .hit.left:hover ~ .dropZone.left {
      display: inline-block;
    }

    .hit.right:hover ~ .dropZone.right {
      display: inline-block;
    }
  }
}

button {
  font-size: 16px;
  padding: 8px;
  border-radius: 0;

  &:hover {
    cursor: pointer;
  }
}

h4 {
  // color: green;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  // padding: 8px 40px;
}

.bg {
  // background-color: #eee;
  background-image: url('/bible-sorter/bgs/paper.png');
  inset: 0;
  background-position: center; /* centers the image */
  padding: 4px 40px;
  box-shadow: 2px 2px 8px #333;
}
